<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Trucking</p>

</div>
<div class="row">
    <div class="col-md-3">
        <h2>View Parcels</h2>
        <p>@Html.ActionLink("Index", "Index", "Parcels")</p>
    </div>
    <div class="col-md-3">
        <h2>View Cargo</h2>
        <p>@Html.ActionLink("Index", "Index", "Cargoes")</p>
    </div>
    <div class="col-md-3">
        <h2>View Drivers</h2>
        <p>@Html.ActionLink("Index", "Index", "Drivers")</p>
    </div>
    <div class="col-md-3">
        <h2>View Locations</h2>
        <p>@Html.ActionLink("Index", "Index", "Locations")</p>
    </div>
</div>
